* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}
.dash__content{
    display: flex;
    flex-direction: row;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    padding: 20px 50px;
    background-color: #2F4E7C;
    width: 20%;
    color: #FFFFFF;
}

.box__graficos{
    width: 80%;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a {
    margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.layout {
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.saudacoes {
    margin-bottom: 20px;
}

.quadrado-grafico {
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 95%;
    max-width: 1400px;
}

/* COLUNA DE KPIs */
.container-kpi {
    width: auto;
}

.KPIs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
    justify-content: space-between;
}

.card {
    background-color: #11224f;
    color: white;
    padding: 15px;
    width: 220px;
    height: 120px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: space-between;
    font-size: 0.85rem;
}

/* BLOCO DA DIREITA */
.conteudo-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.container-select {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.select-setor {
    padding: 10px 15px;
    border: 2px solid #11224f;
    border-radius: 8px;
    background-color: white;
    color: #11224f;
    font-weight: bold;
    width: 800px;
}

.container-graf {
    width: 100%;
}

.graficos {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    width: 100%;
}

canvas {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100% !important;
    max-height: 300px !important;
}

/* ESTILOS DE ÍCONES E BOTÕES */
.seta-icon { font-size: 20px; }
.t-1 { color: #ff4d4d; }
.t-2 { color: #40ff40; }
.c { color: #ffff40; }

.botao-sair {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.botao-sair:hover {
    background-color: #1954ad;
}
