* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-header {
    min-height: 100vh;
}

.header-left {
    background-color: #11224f;
    color: white;
    border-right: solid 3px rgba(2, 30, 85, 0.363);
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header-nav-bar button {
    margin-bottom: 20px;
    background-color: #2041a3;
    color: #fcfdff;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.direito{
    display:flex;
    flex-direction:column;
    justify-self:center;
    align-items:center;
    padding:32px;
    background:rgba(255, 255, 255, 0.78);
    box-shadow:0 42px 100px rgba(42, 72, 140, 0.12);
    border-radius:32px;
    height: 500px;
    width: 600px;
    margin-top: 150px;
}

.direito h1{
    font-size:64px;
    font-weight:800;
    letter-spacing:0.08em;
}

.login {
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
}

.login h2 {
    font-size: 32px;
    color: #11224f;
}

.formulario{
    width:55%;
    height:40%;
}

.input-group{
    margin-bottom:30px;
}

input{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width:100%;
    padding:16px 30px;
    background:#f8fbff;
    border:1px solid rgba(33, 67, 168, 0.22);
    border-radius:15px;
    color:#11224f;
    font-size:16px;
    margin-bottom: 30px;
}

.box-botao{
    justify-self: center;
}

.botao{
    width: 20rem;
    padding:16px 19px;
    border-radius:15px;
    background:linear-gradient(135deg, #2143a8, #16327e);
    color:#fff;
    font-weight:800;
    font-size:16px;
    cursor:pointer;
    
}

#voltar {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 20px;
}

#voltar a{
    color: #2041a3;
    font-weight: 500;
}

.exibir {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    min-height: 60px;
    margin: 20px;
    border-radius: 12px;
    text-align: center;
}

.sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
    padding: 0 15px;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
}